{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}Tag Photos{% endblock %}</h1>
    <meta name="viewport"
          content="width=device-width, initial-scale=.5">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/tag_photo.css') }}">
{% endblock %}

{% block content %}
    <h2 id="tag_me">Select a person for each photo</h2>

    <form action="mx/update" method="post">
        <input type="hidden" name="selected_photo" id="selected_photo">
        <label>Please select the name of who is the main person in the picture below</label>
        <select name="selected_person" size="3">
            {% for person in persons %}
                {% if person['gender'] != 'N' %}
                    {% set list_person = person['surname'], person['given_names'],
                        person['gender'], person['year_born'] %}
                    <option value={{ person.id }}>{{ list_person }}</option>
            <!-- todo person.id works correctly but generates 'attribute is not allowed here' error  -->
                {% endif %}
            {% endfor %}
        </select>
        <br><br><label>Please enter a comment giving the context of this picture</label>
        <input type="text" name="comment"><br>
        <br><br>
        <input type="submit" value="Tag photo with selected name">
    </form>

    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        {% if photo_list %}
            {% for photo in photo_list %}
                <div class="mySlides">
                    <img id="myImg"
                    src="{{ url_for('static', filename='images/' + photo[2]) }}"
                    alt="{{photo[2]}}"
                    style="width:300px">
                    <div class="numbertext">{{ photo[0] }} / {{ photo[1] }}</div>
                    <div>Filename: {{ photo[2] }}</div>
                    <div>Caption:  {{ photo[3] }}</div>
                    <div>PersonFK: {{ photo[4] }}</div>
                    <hr/>
                </div>

            {% endfor %}

            <br>

            <div style="text-align:center">
                {% for photo in photo_list %}
                     <span class="dot" onclick="currentSlide({{ photo[0] }})"></span>
                {% endfor %}
            </div>

        {% endif %}

    </div>

    <div style="text-align:center">
        To navigate through the photos -
        <br>please click on the angle brackets above the photo or the dots below the photo,
        <br>or press the right & left arrow keys on the keyboard
    </div>

{% endblock %}

{% block script %}
var slideIndex = 1;
if ({{ photo_number }} > 1) {
    slideIndex = {{ photo_number }};
}
showSlides(slideIndex);

document.onkeydown = function(event) {
    switch (event.keyCode) {
       case 37:
            plusSlides(-1)
          break;
       case 39:
            plusSlides(1)
          break;
    }
};

function plusSlides(n) {
    showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";

  var selected_photo = document.getElementById("selected_photo");
  selected_photo.value = slideIndex
  console.log("showSlides: " + slideIndex)
}{% endblock %}
